@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
font-family: 'Cabin', sans-serif;
}

body {
  background-color: rgb(157, 233, 233);
}

.carousel-inner img {
  margin: auto ;
}
.profiles {
  height: 15%;
  width: 15%;
  /* % is relative to parent
vh is relative to size of screen*/
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
}

.car-profiles  {
  height: 50%;
  width: 50%;
  /* % is relative to parent
  vh is relative to size of screen*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}



nav,
h1,
h2,
h3,
h5,
footer,
.cntr {
    text-align: center;
  }
  
header {
  background-color: rgb(56, 104, 106);
  color: aliceblue;
  }




.car-caption-bird {
  color: rgb(8, 8, 8);
  }
      
.car-caption-bird a {
  color: orange;
  }
  
.car-caption * {
  color: white;
  }
  

  .tplayer {
    display: flex; /* or inline-flex */
  }

  caption * {
  font-size:  0.5em;
  }