{% extends 'base.html' %}
{% block content %}

<!-- above lines inherit properties from base,html -->

<body>
    <header>
        <h1>Basketball's Greatest Players</h1>
    </header>

    <div class="main-content">
        <p class="cntr">An opinion</p>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <a href="{{ url_for('my_view.page1') }}">
                    <img class ='car-profiles' src="{{url_for('static', filename='images/8407852706_13e3240998_o.jpg')}}" class="d-block w-50" alt="Michael Jordan picture">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Michael Jordan</h5>
                    <p class = "car-caption">"Michael Jordan" by Kip-koech is licensed under CC BY 2.0.<br> <a href="https://creativecommons.org/licenses/by/2.0/?ref=openverse"> View a copy of this license </a>.</p>
                </div>
            </div>
                <div class="carousel-item">
                <a href="{{ url_for('my_view.page2') }}">
                    <img class ='car-profiles' src="{{url_for('static', filename='images/8406752121_c85f4c0d13_o.jpg')}}" class="d-block w-50" alt="Larry Bird picture">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Larry Bird</h5>
                    <p class = "car-caption-bird">"Larry Bird" by Kip-koech is licensed under CC BY 2.0.<br> <a href="https://creativecommons.org/licenses/by/2.0/?ref=openverse"> View a copy of this license </a>.</p>
                </div>
            </div>
                <div class="carousel-item">
                <a href="{{ url_for('my_view.page3') }}">
                    <img class ='car-profiles' src="{{url_for('static', filename='images/8406758351_297ca4963b_z.jpg')}}" class="d-block w-50" alt="Magic Johnson picture">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Magic Johnson</h5>
                    <p class = "car-caption">"Magic Johnson" by Kip-koech is licensed under CC BY 2.0.<br> <a href="https://creativecommons.org/licenses/by/2.0/?ref=openverse"> View a copy of this license </a>.</p>
                </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>


            <div class="index_great_players_txt">
                <p>Who are basketball's greates players?  The world's top basketball league is known to be the NBA in the United States of America, so it follows that the best players will come from that league.</p>
                <p>
                The NBA was founded in 1946 and there have been many great players through the generations.  The game has changed sigificantly during that time.  I am focussing on the modern age, since the 1980's.  
                The entry system for the NBA usually involves college, although a few players such as LeBron James and Kobe Bryant bypassed the college phase and went straight into the NBA. 
                </p>
                <p> The three players pictured above are widely considered to be among the best that have ever played the game and are three of my personal favourites.  </p>
            </div>
        </div>





</body>
</html>
{% endblock %}