{% extends 'base.html' %}

<body>
    {% block content %}
<h3>Today's Players</h3>
<h5>Stephen Curry</h5>
<p>
    Stephen Curry of the Golden State Warriors is acknowledged to be the greatest shooter the game has ever known.  A winner of two NBA rings he recently (2022) beat the all-time record for three pointers scored in the NBA, previously held by Ray Allen.  In fact Ray Allen and Reggie Miller both admitted that Stephen Curry was the best shooter of all time.  
</p>
<h5>giannis antetokounmpo</h5>
<p>
    Giannis Antetokounmpo was selling sunglasses on the streets of Athens at aged 15 to support his parents.  Now he has a 242 milliion dollar contract with the Milwaukee  Bucks NBA team, the reigning 2021-2022 champions.  He is 6"11' but has the ball handling skills of a much shorter player.
</p>
<h5>Ja Morant</h5>
<p>
    Ja Morant of the Memphis Grizzlies is known as a spectacular player people love to watch.  In the 2020-2021 season he performed a 360 degree mid air spin on a dunk. 
</p>
{% endblock %}
</body>