{% extends 'base.html' %}

<body>
    {% block content %}
<h3>Larry Bird</h3>

<img class ='profiles' src="{{url_for('static', filename='images/boston_city_archives_CC_BY_2.jpg')}}" alt="Larry Bird picture">
<caption>boston city archives<a href="https://creativecommons.org/licenses/by/2.0/">View a copy of this license </a></caption>
<p>Larry Bird was born on 7th December 1956, in Indiana. He was nicknamed 'Larry Legend'.  He played the power forward / small forward positions for the Boston Celtics.  He was not thought of as one of the games great athletes, but he was a great achiever, winning three NBA rings.  In his own words, 'I thought the game out'.  His initial rivalry with his contemporary Magic Johnson turned to friendship, cemented by a dinner at Magic's house prepared by Magic Johnson's mother.  </p>


{% endblock %}
</body>